@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Train+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Zilla+Slab+Highlight:wght@700&display=swap');
body{
    
    /* color: darkgray; */
    font-size: 20px;
    padding: 0;
    margin: 0;
    background-color: black;
}

.bdy{
    background-image: url(../img/gallery/air-filter.gif);
    background-repeat: repeat;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

.bdy::before{
    content: "";
    background-repeat: repeat;
    background-color: rgba(0,0,0,.7);
    position: absolute;
    background-size: cover;
    /* height: 150%;
    width: 100%; */
    top: 0;
    left:0;
    bottom: -10%;
    right: 0;
}

.heading{
    display: flex;
    width: 20vw;
    height: 4vh;
    
}

.button-container{
    display: flex;
    justify-content: center;
    position: relative;
}

.btn-hover{
    color:goldenrod;
    margin: 4px;
    transition: all 0.5s ease-out;
}
.btn-hover-light{
    color:black;
    margin: 4px;
    transition: all 0.5s ease-out;
}

.btn-hover:hover{
    background-color: goldenrod;
    color: white;
}
.btn-hover-light:hover{
    background-color: goldenrod;
    color: white;
}

.con-heading{
    color: goldenrod;
    font-size: 32px;
    font-family: 'Libre Baskerville', serif;
    margin: 2vh 4vw;
    text-align: center;
}
@media screen and (min-width: 768px) {
    
    .desc-container{
        display: grid;
        grid-template-columns: 2fr 4fr;
        row-gap: 30px;
        column-gap: 4px;
        grid-template-rows: repeat(4, 1fr);
        border: 2px solid white;
        margin: 10px;
        height: 70vh;
    }
}

@media screen and (max-width: 768px) {
    
    .desc-container{
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        row-gap: 10px;
    
        grid-template-rows: repeat(8, 1fr);
        border: 2px solid white;
        margin: 10px;
        height: 70vh;
    }
}
/* body{
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    flex-wrap: wrap;
} */
.card-folder{
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.card{
    position: relative;
    width: 300px;
    height: 300px;
    cursor: pointer;
    border-radius: 16px;
    box-shadow: 0 0 13px 0px rgba(0,0,0,.3);
    transition: .5s;
    overflow: hidden;
    margin: .85rem;
}
.card:hover{
    height: 500px;
}

.card img{
    width: 100%;
    border-radius: 16px;
    transition: .5s;
}
.card:hover img{
    border-radius: 16px 16px 0 0;
}

.card .card-body{
    padding: .5rem .85rem 1rem;
    height: 0;
}

.card .card-body h6{
    margin: .5rem 0;
    font-size: .85rem;
    color: crimson;
    letter-spacing: 3px;
}

.card .card-body p{
    text-align: justify;
    font-size: .9rem;
    line-height: 25px;
}

.card .card-body div{
    text-align: right;
    width: 100%;
}

.card .card-body div a{
    position: relative;
    text-decoration: none;
    color: #526ffd;
    padding: .5rem;
    text-align: center;
    z-index: 999;
    font-size: .85rem;
}

.card .card-body div a::before{
    position: absolute;
    content: '';
    width: 13px;
    height: 13px;
    background: #526ffd;
    border-radius: 300px;
    left: -13px;
    top: 3px;
    z-index: -1;
    transition: .3s;
}

.card .card-body div a:hover{
    color: #fff;
}

.card .card-body div a:hover::before{
    width: 100%;
    height: 100%;
    left: 0;
}

